params {
  reads        = 'data/*.fastq.gz'
  transcriptome= 'ref/Homo_sapiens.GRCh38.cdna.all.fa.gz'
  annotation   = 'ref/Homo_sapiens.GRCh38.109.gtf.gz'
}

process {
  withName: FASTQC {
    cpus = 2
    memory = '2 GB'
  }
  withName: TRIMMING {
    cpus = 2
    memory = '4 GB'
  }
  withName: BUILD_SALMON_INDEX {
    cpus = 4
    memory = '8 GB'
  }
  withName: SALMON {
    cpus = 4
    memory = '8 GB'
  }
  withName: DESEQ2 {
    cpus = 2
    memory = '8 GB'
  }
}

cleanup = true