params {
    reads         = 'data/*.fastq.gz'
    transcriptome = 'ref/Homo_sapiens.GRCh38.cdna.all.fa.gz'
    annotation    = 'ref/Homo_sapiens.GRCh38.109.gtf.gz'
    deseq2_script = 'run_deseq2.R'
    goseq_script  = 'run_goseq.R'
}

env {
    PATH = "/home/modules/fastqc:/home/alumno21/tools/salmon-latest_linux_x86_64/bin:/home/alumno21/.local/bin:${System.getenv('PATH')}"
}

process {
    withName: FASTQC {
        cpus   = 2
        memory = '2 GB'
    }
    withName: TRIMMING {
        cpus   = 2
        memory = '4 GB'
    }
    withName: BUILD_SALMON_INDEX {
        cpus   = 4
        memory = '8 GB'
    }
    withName: SALMON {
        cpus   = 4
        memory = '8 GB'
    }
    withName: EXTRACT_COUNTS {
        cpus   = 1
        memory = '2 GB'
    }
    withName: ROUND_COUNTS {
        cpus   = 1
        memory = '2 GB'
    }
    withName: DESEQ2 {
        cpus   = 2
        memory = '8 GB'
    }
    withName: GOSEQ {
        cpus   = 2
        memory = '8 GB'
    }
}
